grafana.ini:
  security:
    allow_embedding: true
  auth.anonymous:
    enabled: true
    org_role: Viewer
  server:
    root_url: "%(protocol)s://%(domain)s/grafana"
    serve_from_sub_path: true

sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: "1"
    searchNamespace: monitoring

persistence:
  enabled: true
  size: 1Gi
