apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: demo
  labels:
    app: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: worker
          image: devops-worker:v1.0.0
          imagePullPolicy: Never
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          env:
            - name: RABBITMQ_URL
              value: "amqp://devops:devops-rabbit-pass@rabbitmq:5672/devops_demo"
            - name: DATABASE_URL
              value: "postgresql://devops:devops-demo-pass@postgresql:5432/devops_demo"
            - name: APP_VERSION
              value: "1.0.0"
          resources:
            requests:
              cpu: 25m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: worker
  namespace: demo
  labels:
    app: worker
spec:
  selector:
    app: worker
  ports:
    - port: 8001
      targetPort: 8001
